
  

    <div class="wrapper">
      
        <div class="container main">
          

            <div class="row">

                <div class="col-md-6 side-image">

                    <div class="text">

                    </div>

                </div>

                <div class="col-md-6 right">

                     <div class="input-box">
                      <a routerLink="/home"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16" style="margin-left: 350px; margin-bottom:75px">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                      </svg></a>

                        <header>About us</header>

                        <p>What Is Forecasting? Forecasting is a technique that uses historical data as inputs to make informed estimates that are predictive in determining the direction of future trends. Businesses utilize forecasting to determine how to allocate their budgets or plan for anticipated expenses for an upcoming period of time</p>

                        <div class="input-field">

                            <input type="submit" class="submit" value="know more">

                           

                           

                        </div>

                       

                        

                     </div>

                </div>

            </div>

        </div>

    </div>
  


