<div class="wrapper">
      
    <div class="container main">
      

        <div class="row">

            <div class="col-md-6 side-image">

                <div class="text">

                </div>

            </div>

            <div class="col-md-6 right" id="right" >

                 <div class="input-box" >
                  <a routerLink="/home"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg"  style="margin-left: 340px; margin-bottom:50px">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                  </svg></a>

                    <header>About us</header>
                    <div class="content">
                    <p>Through Meteo, we provide accurate, reliable weather forecasts empowering informed decisions. Real-time updates, advanced algorithms, and intuitive features. Embrace confidence in planning your day with our user-friendly app. Join our weather community today for precise forecasting and stay one step ahead of the elements</p>

                    <!-- <div class="input-field">

                        <input type="submit" class="submit" value="know more">

                       

                       

                    </div> -->
                </div>
                   

                    

                 </div>

            </div>

        </div>

    </div>

</div>


