
<app-nav1></app-nav1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="bg">
    <div class="services">
      <h2 style="color: white; font-size: 2em;">Our Services</h2>
      <div class="btn-group">
        <button class="btn" routerLink="/todayweather">
          <i class="fas fa-sun"></i> Todays weather
        </button>
        <button class="btn" routerLink="/forecastfuture">
          <i class="fas fa-calendar-alt"></i> Future forecast
        </button>
        <button class="btn" routerLink="/travelbuddy">
          <i class="fas fa-map-marker-alt"></i> Travel buddy
        </button>
        <button class="btn" routerLink="/news">
          <i class="far fa-newspaper"></i> Daily Highlights
        </button>
      </div>
    </div>
  </div>
  
  